@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-sans: "Montserrat", sans-serif;
}

.swiper {
  padding-bottom: 40px !important;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination .swiper-pagination-bullet {
  background: #cbd5e1;
  opacity: 1;
  width: 10px;
  height: 10px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #19446a !important;
}